<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}

<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="icon" href="{% static 'images/favicon.ico' %}" />
        <link rel="stylesheet" href="{% static 'styles/styles.css' %}" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
		{% if title %}
		<title>{{title}}</title>
		{% else %}
		<title>Miami dade court search</title>
		{% endif %}
	</head>
	<body>
		{% include 'navbar.html' %} {% block content%} {% endblock%}

		{% include 'footer.html' %}
		<!-- script tags -->
		<script src="{% static 'js/script.js' %}"></script>
	</body>
</html>
