{%load static %}


<nav class="navbar navbar-dark navbar-expand-lg bg-dark sticky-top">
  <div class="container">
    <a href="{% url 'home' %}" class="navbar-brand">
        Miami-dade cases
    </a>

    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mx-3">
        <li class="nav-item">
          <a class="nav-link active mx-3" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active mx-3" href="{% url 'showCases' %}">Show cases</a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active"> About </a>
        </li>
        <li class="nav-item mx-3">
          <a class="nav-link active" href="{% url 'logout' %}"> LogOut </a>
        </li>
  
        <!-- <li class="nav-item dropdown mx-3">
          <a
            class="nav-link active dropdown-toggle"
            href="#"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
            ><img
              class="rounded-circle"
              style="height: 25px; width: 25px"
              src="../../assets/images/profile.jpg"
              alt=""
            />
            Profile
          </a> -->
          <!-- <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li>
              <a class="dropdown-item" (click)="onLogout()">Logout</a>
            </li>
          </ul> -->
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- source C:/Users/maina/.virtualenvs/miami-dade-NfEFiL9r/Scripts/activate -->