@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
	font-family: 'Poppins', sans-serif;
}
.home {
	height: 85vh;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.home__banner {
	background: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}
.links {
	text-decoration: none;
	cursor: pointer;
}
.links:hover {
	text-decoration: underline;
}
.about__description{
	font-size: 1.3rem;
}
.about__title{
	font-size: 1.6;
}
