.home {
	height: 85vh;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow-y: hidden;
}

.home__banner {
	background: url(../images/banner.jpg);
	background-size: cover;
	background-position: center;
	height: 100%;
	width: 100%;
}
.links {
	text-decoration: none;
	cursor: pointer;
}
.links:hover {
	text-decoration: underline;
}

