{% extends 'main.html' %} {% load bootstrap5 %} {% load static %} 
{% block content %}

<div class="home">
	<div class="home__banner"></div>
</div>
<div class="about container mt-4">
	<h2 class="text-center about__title">About Us</h2>
	<p class="about__description">
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic quia eum dolor
		necessitatibus laborum aliquid saepe tenetur quaerat ad commodi. Lorem,
		ipsum dolor sit amet consectetur adipisicing elit. Eos, et commodi
		exercitationem minus quaerat aut architecto ratione repellendus officiis
		sunt?
    </p>
</div>

{% endblock %}
