<!DOCTYPE html>
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% load static %}
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="{% static 'styles/auth.css'%}">
		{% if title %}
		<title>{{title}}</title>
		{% else %}
		<title>Authentication</title>
		{% endif %}
	</head>
	<body>
		{% block content %} {% endblock %}
	</body>
</html>
