{% extends 'base/registration/base.html' %} {% load bootstrap5 %} {% load static%} {% block content %}
<div class="container d-flex align-items-center outerdiv">
	<div class="wrapper row">
		<div class="wrapper_image col-md-6 col-sm-12 col-lg-6 overflow-hidden">
			<img
				class="img-fluid rounded"
				style="height: 100%; transform: scale(1.3)"
				src="{% static 'images/login.jpg' %}"
				alt="login cover image"
			/>
		</div>
		<div class="wrapper_form col-md-6 col-sm-12 col-lg-6 mb-3 ml-3 my-4 p-4">
			<form action="{% url 'login' %}" method="post">
				{%csrf_token%}
				<div class="title mb-3">Sign in</div>
				{% bootstrap_messages %}
				<div class="mb-3">
					<label for="username" class="form-label">Username</label>
					<input
						type="text"
						name="username"
						class="form-control"
						id="username"
						placeholder="Enter your username"
						required
					/>
				</div>

				<div class="mb-3">
					<label for="password" class="form-label">Password</label>
					<input
						type="password"
						name="password"
						class="form-control"
						id="password"
						placeholder="Enter your password"
						required
					/>
				</div>
				<button type="submit" class="btn btn-primary mb-4 mt-2">Sign in</button>
				<p>
					Don't have an account?
					<a href="{% url 'register' %}" class="have_account">sign up now</a>
				</p>
			</form>
		</div>
	</div>
</div>

{% endblock %}
